In [1]:
#5.  Explain the concept of type casting in Python with examples 
# Original data
string_number = "42"  # This is a string
list_of_tuples = [('name', 'Alice'), ('age', 30)]  # List of tuples to convert to a dictionary

In [2]:
# Type casting examples

# Converting string to integer
int_number = int(string_number)
print(int_number) 
print(type(int_number))

42
<class 'int'>

In [3]:
# Converting string to float
float_number = float(string_number)
print(float_number) 
print(type(float_number))

42.0
<class 'float'>

In [4]:
# Converting integer to string
string_from_int = str(int_number)
print(string_from_int) 
print(type(string_from_int))

42
<class 'str'>

In [5]:
# Converting string to list
list_from_string = list(string_number)
print(list_from_string)  
print(type(list_from_string))

['4', '2']
<class 'list'>

In [6]:
# Converting list to tuple
tuple_from_list = tuple(list_from_string)
print(tuple_from_list)  
print(type(tuple_from_list))

('4', '2')
<class 'tuple'>

In [7]:
# Converting list to set
set_from_list = set(list_from_string)
print(set_from_list) 
print(type(set_from_list))

{'4', '2'}
<class 'set'>

In [8]:
# Converting float to boolean
boolean_from_float = bool(float_number)
print(boolean_from_float)  
print(type(boolean_from_float))

True
<class 'bool'>

In [9]:
# Converting list of tuples to dictionary
dict_from_list = dict(list_of_tuples)
print(dict_from_list)  
print(type(dict_from_list))

{'name': 'Alice', 'age': 30}
<class 'dict'>

In [10]:
# Converting dictionary keys and values to lists
keys_list = list(dict_from_list.keys())
values_list = list(dict_from_list.values())
print(keys_list)  
print(values_list) 
print(type(keys_list))  
print(type(values_list))

['name', 'age']
['Alice', 30]
<class 'list'>
<class 'list'>